@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SteveMVC</title>
    <link href="~/css/login.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

    <div class="container">
        <div class="screen">
            <div class="screen__content">               
                <form class="login" asp-action="Index" asp-controller="Account">
                    @Html.AntiForgeryToken()
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input asp-for="UserName" type="text" class="login__input" placeholder="User name/Email">
                    </div>
                    <span asp-validation-for="UserName"></span>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input asp-for="Password" type="password" class="login__input" placeholder="Password">
                    </div>
                    <span asp-validation-for="Password"></span>
                    <button class="button login__submit" type="submit">
                        <span class="button__text">Log In</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                    @Html.ValidationMessage("LoginMessage")
                </form>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_PartialJS")
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
